html {
  justify-content: center;
  padding-bottom: 100px;
  background: linear-gradient(#0077bd, #004d7b)!important;
  color: white;
  height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
}
body{
    background-color:rgba(0,0,0,0.0)!important;
    justify-content: center;
    padding-bottom: 100px;
    color: white;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  height: 100%;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-top: 10px;
}
h1 {
  color: white;
}
.white{
    color:white!important;
}